<nav class="navbar">
    <a class="nav-link" href="{{ path('table_show') }}">Tables de Plongée</a>
    <a class="nav-link" href="{{ path('profondeur_show') }}">Profondeurs</a>
    <a class="nav-link" href="{{ path('temps_show') }}">Temps</a>
</nav>